# TensorFlow Go bindings environment
# Install libtensorflow: brew install libtensorflow

if [[ -d "/opt/homebrew/opt/libtensorflow" ]]; then
    TF_PREFIX="/opt/homebrew/opt/libtensorflow"
elif [[ -d "/usr/local/opt/libtensorflow" ]]; then
    TF_PREFIX="/usr/local/opt/libtensorflow"
else
    echo "Warning: libtensorflow not found. Install with: brew install libtensorflow"
fi

if [[ -n "$TF_PREFIX" ]]; then
    export CGO_CFLAGS="-I${TF_PREFIX}/include"
    export CGO_LDFLAGS="-L${TF_PREFIX}/lib -ltensorflow"
    export LIBRARY_PATH="${TF_PREFIX}/lib"
    export GOFLAGS="-tags=tensorflow"
    # Note: Don't set DYLD_LIBRARY_PATH as it conflicts with Python TensorFlow
fi
